.main-container{
    height: 100vh;
}

.units-booked{
    overflow: auto;
    height: 23vh;
    padding: 5px;
}
.units-booked-grid{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 2%;
}

.info{
    margin-bottom: 18%;
}
.info-column{
    margin-top: 5%;
}

.main-card-grid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}