.unittop{
    margin: 5% 20%;
    position: absolute;
}
.tbl{
    padding: 2%;
}
.tblpc{
    margin-top: 2%;
    margin-right: 2%;
}
.tbmh{
    background-color:#1e212d;
}

.action-button{
    margin: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.filter-unit-div{
    display: flex;
    justify-content:space-between;
}

.list{
    display: flex;
}