.unittop{
    padding: 2%;
    margin: 5% 20%;
    position: absolute;
}
.unittop-form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    padding: 2%;
    margin: 5% 20%;
    position: absolute;
}
.tbl{
    padding: 2%;
}
.tblpc{
    margin-top: 2%;
    margin-right: 2%;
}
.tbmh{
    background-color:#1e212d;
}

.action-button{
    margin: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.filter-unit-div{
    display: flex;
    justify-content:space-between;
}

.list{
    display: flex;
}
.deleteunit{
    display: flex;
    justify-content: center;
    height: 3vh;
    color: black;
    background-color: goldenrod;
}
.confirmButton{
    width: 10vw;
    height: 3vh;
    cursor: pointer;
}

.add-unit-form{
    padding: 5%;
}
input{
    width: 100%;
}
label{
    font-size: medium;
    font-weight: 600;
    margin-bottom: 3%;
}